@page "{id}/{handler?}"
@model RecipeApp.Pages.Recipes.ViewModel
@{
    ViewData["Title"] = Model.Recipe.Name;
}
<h2>@Model.Recipe.Name</h2>
@if (Model.CanEdit)
{
<form asp-page-handler="Delete" asp-route-id="@Model.Recipe.Id">
    <p>
        <a asp-page="Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-primary">Edit</a>
        <button class="btn btn-danger">Delete</button>
    </p>
</form>    
}

<p>@Model.Recipe.Method</p>

<d1>
    @foreach(var ingredient in Model.Recipe.Items)
    {
        <dt>@ingredient.Name</dt>
        <dd>@ingredient.Quantity</dd>
    }
</d1>